/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    ul.p-info .title {
        width: 50%;
        font-weight: bold;
        color: #000;
        margin-right: 1em;
    }

    ul.p-info .desk {
        width: 40%;
        color: #000;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 800px) {

    body {
        position: relative;
    }

    .left-side {
        display: none;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .left-side-collapsed .left-side {
        display: none;
    }

    .left-side-collapsed .main-content {
        margin-left: 0;
    }

    .left-side-collapsed .header-section {
        margin-left: 0;
    }

    .left-side-show section {
        overflow-x: hidden;
    }

    .left-side-show .left-side {
        display: block;
    }

    .left-side-show .main-content {
        margin-left: 240px;
    }

    .btn-demo {
        margin-bottom: 20px;
    }

    .left-sideinner {
        padding: 5px 10px;
    }

    .left-sideinner .searchform input {
        background: #fff;
        border: 0;
    }

    .sticky-header .header-section, .sticky-header.left-side-collapsed .header-section {
        left: 0;
    }

    .sticky-header.left-side-show .header-section {
        left: 240px;
    }

    .sticky-header .menu-right {
        margin-right: 15px;
    }

    .sticky-header .left-side {
        /*top: 60px;*/
    }

    .lock-wrapper {
        margin: 25% auto;
    }

    .sticky-left-side .custom-nav {
        margin-top: -5px;
    }
    .stepy-error {
        bottom: 50px;
    }

    /*----------*/

    .left-side-collapsed .left-side {
        left: 0;
        top: 50px;
        width: 240px;
    }

    .sticky-header.left-side-collapsed .menu-right {
        margin-right: 15px;
    }

    .left-side-collapsed .logo-icon {
        display: none;
    }
    .left-side-collapsed .logo {
        display: block;
    }

    .left-side-collapsed .left-side .searchform input {
        margin: 5px 0 20px 12px;
    }

    /*----------*/
    .wdgt-profile, ul.iconic-list {
        margin-bottom: 20px;
    }

    .sticky-left-side, .sticky-header .header-section {
        position:absolute;
    }

    .left-side .logged-user .media-object {
        margin-right: 10px;
    }

    .form-group {
        padding: 0;
    }

    .modal-dialog {
        width: 90%;
        margin: 30px auto;
    }

    .big-cash { 
        margin-top: 0;
    }

    .custom-tab ul > li > a { 
        padding: 10px !important;
    }

    #flip-scroll tbody tr {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    #flip-scroll tbody tr {
        display: normal;
    }

    #flip-scroll th { 
        min-height: 3.4em;
    }  

    ul.p-info .title {
        width: 50%;
        font-weight: bold;
        color: #000;
        margin-right: 1em;
    }

    ul.p-info .desk {
        width: 40%;
        color: #000;
        word-wrap: break-word;
    }

    .modal-title { 
        font-size: 1em;
    } 
}


@media screen and (max-width: 767px) {


    .searchform {
        position: relative;
    }

    .searchform input {
        background:#fff;
    }

    .notification-menu li:nth-child(4) {
        display: none;
    }

    .left-side .searchform,
    .left-side .logged-user {
        display: block;
    }

    .breadcrumb-wrapper {
        display: none;
    }

    .notification-menu .dropdown-menu:after {
        display: none;
    }

    /*calendar*/
    .fc-button-inner {
        padding: 0;
    }

    /*media gallery*/
    .media-gal .item {
        width: 100%;
    }
    .media-filter {
        margin: 25px 0;
    }

    .media-filter + .pull-right, .media-filter + .pull-right + .btn  {
        float: left !important;
    }

    /*state info*/
    .state-info {
        position: static;
        width: 100%;
        margin-top: 15px;
    }

    .state-info .panel {
        width: 100%;
    }

    .lock-wrapper {
        margin: 40% auto;
    }

    .pricing-table {
        width: 100%;
        margin-left: 0;
    }

    .mail-box > aside, .mail-box > section {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .mail-list {
        height: auto;
    }

    /*RECEIPT TEMP*/
    .form-group {
        padding: 0px 2em;
    }

    .form-group label {
        font-weight: bold;
        color: #000;
        font-size: 1.2em;
    }

    .form-control {  
        padding: 8px 12px; 
        font-size: 15px; 
    }

    .input-group-addon { 
        font-size: 15px; 
    }

    ul.p-info .title {
        width: 50%;
        font-weight: bold;
        color: #000;
        margin-right: 1em;
    }

    ul.p-info .desk {
        width: 40%;
        color: #000;
        word-wrap: break-word;
    }

    .input-group-addon:first-child, .input-group-addon:last-child { 
        font-size: 0.8em;
    }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {
    .m-xs-t-0 {
        margin-top: 0 !important;
    }

    .m-xs-r-0 {
        margin-right: 0 !important;
    }

    .m-xs-l-0 {
        margin-left: 0 !important;
    }

    .m-xs-b-0 {
        margin-bottom: 0 !important;
    }

    .m-xs-t-1 {
        margin-top: 1em;
    }

    .m-xs-r-1 {
        margin-right: 1em;
    }

    .m-xs-l-1 {
        margin-left: 1em;
    }

    .m-xs-b-1 {
        margin-bottom: 1em;
    }

    .m-xs-t-2 {
        margin-top: 2em;
    }

    .m-xs-r-2 {
        margin-right: 2em;
    }

    .m-xs-l-2 {
        margin-left: 2em;
    }

    .m-xs-b-2 {
        margin-bottom: 2em;
    }

    .p-xs-t-0 {
        padding-top: 0 !important;
    }

    .p-xs-r-0 {
        padding-right: 0 !important;
    }

    .p-xs-l-0 {
        padding-left: 0 !important;
    }

    .p-xs-b-0 {
        padding-bottom: 0 !important;
    }

    .p-xs-t-1 {
        padding-top: 1em;
    }

    .p-xs-r-1 {
        padding-right: 1em;
    }

    .p-xs-l-1 {
        padding-left: 1em;
    }

    .p-xs-b-1 {
        padding-bottom: 1em;
    }

    .padding-xs-1  {
        padding: 1em;
    }

    .padding-xs-2  {
        padding: 2em;
    }

    /*form wizard steps*/
    .widget-container .stepy-titles li , .stepy-titles li{
        width: 100%;
    }
    .directory-list li {
        display: inline-block;
        float: left;
        width: auto;
    }

    .directory-list li a {
        display: block;
        padding:5px 10px;
        margin-bottom: 1px;
    }

    .border-right-xs-none {
        border: none;
    }

    .border-left-xs-none {
        border: none;
    }

    .border-top-xs-none {
        border: none;
    }

    .border-bottom-xs-none {
        border: none;
    }

    .border-right-xs {
        border-right: 1px solid #e5e5e5;
    }

    .border-left-xs {
        border-left: 1px solid #e5e5e5;
    }

    .border-top-xs {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom-xs {
        border-bottom: 1px solid #e5e5e5;
    }

    .modal-dialog {
        width: 90%;
        margin: 30px auto;
    }

    .form-group {
        padding: 0;
    }

    .form-control {
        padding: 8px;
        font-size: .85em;
    }

    .form-group label {
        font-size: .85em;
    }

    .big-cash { 
        margin-top: 1em;
    }

    .input-group { 
        margin-top: 10px;
    }

    .panel-default > .panel-heading { 
        font-size: 1em; 
    }

    .btn-sm-red { 
        padding: 10px 13px; 
        margin: -6px 0; 
    }

    .service-queue .state-value .value {
        font-size: 20px; 
    }

    .service-queue .state-value .title {
        font-size: 16px; 
    }

    .modal-body {
        max-height: 30em; 
    }

    .nav-tabs.nav-justified>li {
        float: left;
        margin-bottom: 10px;
        text-align: center;
    }

    #flip-scroll th {
        border-bottom: 0;
        border-left: 0;
        min-height: 3.05em;
    }

    .input-group .form-control:not(:first-child):not(:last-child), 
    .input-group-addon:not(:first-child):not(:last-child), 
    .input-group-btn:not(:first-child):not(:last-child) {
        border-radius: 0;
        min-width: 4em;
    } 

    .input-append.colorpicker-default.color {
        width: 85%;
    }
}


@media screen and (max-width: 479px) {
    /*calendar*/
    .fc-button-inner, .fc-button-content {
        padding: 0;
    }
    .fc-header-title h2 {
        font-size: 12px!important;
    }
    .fc .fc-header-space {
        padding-left: 0;
    }
    .fc-state-active, .fc-state-active .fc-button-inner, .fc-state-active, .fc-button-today .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
        background: none repeat scroll 0 0 #FFFFFF !important;
        color: #32323A !important;
    }
    .fc-state-default, .fc-state-default .fc-button-inner {
        background: none repeat scroll 0 0 #FFFFFF !important;
    }

    .error-wrapper h1 img {
        width: 100%;
    }
    /*form wizard steps*/
    .widget-container .stepy-titles li , .stepy-titles li{
        width: 100%;
    }


    .directory-list li {
        display: inline-block;
        float: left;
        width: auto;
    }

    .directory-list li a {
        display: block;
        padding:5px 10px;
        margin-bottom: 1px;
    }
}

@media screen and (max-width: 360px) {



    .notification-menu li:first-child .dropdown-menu {
        margin-right: -90px;
    }

    .notification-menu li:nth-child(2) .dropdown-menu {
        margin-right: -45px;
    }

    .notification-menu li:nth-child(3) .dropdown-menu {
        margin-right: 0px;
    }

    .nav-tabs.nav-justified.nav-profile > li {
        float: none;
        display: block;
        width: auto;
    }
    .lock-wrapper {
        margin: 40% auto;
        max-width: 300px;
    }
    .lock-wrapper input, .lock-wrapper input:focus {
        width: 80% !important;
    }
    .lock-wrapper .locked {
        right: 70px;
    }


}

@media screen and (max-width: 320px) {

    .lock-wrapper {
        margin: 40% auto;
        max-width: 300px;
    }

    .lock-wrapper input, .lock-wrapper input:focus {
        width: 80% !important;
    }
    .lock-wrapper .locked {
        right: 70px;
    }

    .media-filter li {
        margin-bottom: 10px;
        display: inline-block;
    }

    .media-filter + .btn-group .btn {
        margin-bottom: 5px;
    }


}


.table-resp {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-resp {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    display: block;
  }
  .table-resp > .table {
    margin-bottom: 0;
  }
  .table-resp > .table > thead > tr > th,
  .table-resp > .table > tbody > tr > th,
  .table-resp > .table > tfoot > tr > th,
  .table-resp > .table > thead > tr > td,
  .table-resp > .table > tbody > tr > td,
  .table-resp > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-resp > .table-bordered {
    border: 0;
  }
  .table-resp > .table-bordered > thead > tr > th:first-child,
  .table-resp > .table-bordered > tbody > tr > th:first-child,
  .table-resp > .table-bordered > tfoot > tr > th:first-child,
  .table-resp > .table-bordered > thead > tr > td:first-child,
  .table-resp > .table-bordered > tbody > tr > td:first-child,
  .table-resp > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-resp > .table-bordered > thead > tr > th:last-child,
  .table-resp > .table-bordered > tbody > tr > th:last-child,
  .table-resp > .table-bordered > tfoot > tr > th:last-child,
  .table-resp > .table-bordered > thead > tr > td:last-child,
  .table-resp > .table-bordered > tbody > tr > td:last-child,
  .table-resp > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-resp > .table-bordered > tbody > tr:last-child > th,
  .table-resp > .table-bordered > tfoot > tr:last-child > th,
  .table-resp > .table-bordered > tbody > tr:last-child > td,
  .table-resp > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}